# ═══════════════════════════════════════════════════════
#  Dulce Ruth — Strapi EC2 Environment Variables
# ═══════════════════════════════════════════════════════

# Core Network
HOST=0.0.0.0
PORT=1337
PUBLIC_URL=http://tu-ec2-api.com
NODE_ENV=production

# App Secrets
APP_KEYS=your_app_key_1,your_app_key_2
API_TOKEN_SALT=change_me
ADMIN_JWT_SECRET=change_me
TRANSFER_TOKEN_SALT=change_me
JWT_SECRET=change_me

# Database (RDS)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=strapi
DB_USER=root
DB_PASSWORD=your_rds_password
DB_SSL=false

# AWS S3 Uploads
AWS_REGION=us-east-2
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
S3_BUCKET=dulceruth-assets
